In [1]:
  str1 = 'pratibha'
    str1

IndentationError: unexpected indent (<ipython-input-1-5e0dd7ac0dd9>, line 2)

In [ ]:
str_me = 'pratibha'
str_me

In [2]:
str = 'hello'
str

'hello'

In [3]:
str_1 = 'me'
str_1

'me'

In [4]:
tup1 =(1,true,3.14,5-7j)
tup1

NameError: name 'true' is not defined

In [ ]:
tup1 =(1,true,3.14,5-7j)

In [ ]:
tup1 = (1,true,3.14,5-7j)

In [ ]:
tup1 =(1,true,3.14,5-7j)

In [ ]:
tup1

In [ ]:
tup1 = (1,true,3.14,5-7j)

In [ ]:
tup1

In [ ]:
tup1 = (1,true,3.14,5-7j)

In [ ]:
tup_1 = (1,true,3.14,5-7j)

In [ ]:
tup_1 =(1,true,3.14,5-7j)
tup_1

In [ ]:
tup1 = (1,true,3.14,5-7j)
tup1

In [ ]:
tup1 = (1,3.14,5-7j)
tup1

In [ ]:
tup1 = (1,true,3.14,5-7j)

In [ ]:
tup1 = (1,3.14,5-7j)

In [ ]:
tup1

In [ ]:
tup1 = (1,True,3.14,5-7j)

In [ ]:
tup1

In [ ]:
tup1[2] = 'me'

In [ ]:
len(tup1)

In [ ]:
def hello():
    print("Hello world")
    hello()

In [ ]:
hello()

In [ ]:
def hello():
    print("Hello world")

In [ ]:
hello()

In [ ]:
#function in python

In [ ]:
def add_10(x):
    return x+10

In [ ]:
add_10(9)

In [ ]:
def odd_even(x):
        if x%2==0:
            print(x, "is even")
        else:
            print(x, "is odd")

In [ ]:
odd_even(5)

In [ ]:
g = lambda x: x*x*x

In [ ]:
g(10)

In [ ]:
#lamda with filter function

In [ ]:
l1 = [23,45,98,1,5,4]
final=list(filter(lambda x: (x%2!=0),l1))

In [ ]:
final

In [ ]:
#lambda with map function

In [ ]:
l1 = [1,2,3,4,5,6]

In [ ]:
list_final=list(map(lambda x: x*2,l1))

In [ ]:
list_final

In [ ]:
# functools is a submodule reduce is a function lambda is a keyword,reduce is used when single output is obtained out of a sequence

In [ ]:
from functools import reduce

In [ ]:
sum=reduce(lambda x,y: x+y,l1)

In [ ]:
sum

In [ ]:
#objects are specific instances of class,class is a superset of objects

In [ ]:
#class always starts with a capital letter

In [ ]:
#inside class we add methods

In [ ]:
class Phone:
    def make_call(self):
        print("I am making a call")
    def open_app(self):
        print("i am opening an app")

In [ ]:
obj1 = Phone()

In [ ]:
obj1.make_call()

In [ ]:
obj1.open_app()

In [ ]:
#first define methods in class then define object and then call methods using object(OOP)
#BASICALLY self AS PARAMETER IS USED

In [ ]:
#Adding parameters to the class apart from self

In [ ]:
#constructor is a method to create object,it is defined using init method,adding parameters becomes easier

In [ ]:
class Employee:
    def __init__(self,name,age,salary,gender):
        self.name = name
        self.age = age
        self.salary = salary
        self.gender = gender
    def show_employee_details(self):
        print("Name of employee is ",self.name)
        print("age of employee is ",self.age)
        print("salary of employee is ",self.salary)
        print("age of employee is ",self.gender)

In [ ]:
p2 = Employee('Ram',32,50000,'male')

In [ ]:
p2.show_employee_details()

In [ ]:
ob2 = Employee('pratibha',23,10000,'female')

In [ ]:
ob2.show_employee_details()

In [ ]:
#inheritence in Object oriented programming

In [ ]:
 #first base class is created like above then child clases are made

In [ ]:
class Performance(Employee):
    def show_performance_details(self):
        print("i am super performer")

In [ ]:
a1 = Performance('A',69,9000,'male')

In [ ]:
p3.show_employee_details()

In [ ]:
p3.show_performance_details()

In [ ]:
#below is the correct example of inherited class from base class in OOP programming of python

In [ ]:
 class Student:
        def __init__(self,age,gender):
            self.age = age
            self.gender = gender
        def show_student_details(self):
            print("age is",self.age)
            print("gender is",self.gender)
            print("i am a student")

In [ ]:
s1 = Student(34,'male')

In [ ]:
s1.show_student_details()

In [ ]:
class Class(Student):
    pass
    def show_class_details(self):
        print('i am in class x')

In [ ]:
h1 = Class(15,'female')

In [ ]:
h1.show_student_details()

In [ ]:
h1.show_class_details()

In [ ]:
#use pass keyword for child class to get inherited

In [ ]:
#over riding init method or super function method in inheritance

In [ ]:
#super method is used to include more parameters in child  class apart from parent class

In [ ]:
#in multiple inheritence child inherits from parent class

In [ ]:
#libraries in python

In [ ]:
import numpy as np

In [ ]:
li = [1,2,3,4]

In [ ]:
n1=np.array(li)

In [ ]:
n1

In [ ]:
type(n1)

In [ ]:
#numpy and dimensional array

In [ ]:
np.array([[1,2,3,4],[5,6,7,8]])

In [ ]:
#initializing arrays using zeros method

In [ ]:
n3 = np.zeros((2,3))

In [ ]:
n3

In [ ]:
n3 = np.zeros((10,10))

In [ ]:
#initializing using full method for getting samw number

In [ ]:
n4 = np.full((2,4),10)
n4

In [ ]:
#initializing numpy array within a range using arange method

In [ ]:
n5=np.arange(10,20)
n5

In [ ]:
#for skipping

In [ ]:
n6=np.arange(10,50,5)
n6

In [ ]:
#submodule random and method randint for getting random values

In [ ]:
np.random.randint(200,300,10)

In [ ]:
#joining two numpy arrays

In [ ]:

import numpy as np
n1=np.array([10,20,30,40])
n2=np.array([40,50,60,70])


np.vstack((n1,n2))

In [ ]:
np.hstack((n1,n2))

In [ ]:
np.column_stack((n1,n2))

In [ ]:
#numpy intersection and difference

In [ ]:
np.intersect1d(n1,n2)

In [ ]:
np.setdiff1d(n1,n2)

In [ ]:
np.setdiff1d(n2,n1)

In [ ]:
#addition of numpy arrays

In [ ]:
np.sum([n1,n2])

In [ ]:
np.sum([n1,n2],axis=0)

In [ ]:
np.sum([n1,n2],axis=1)

In [ ]:
n3=np.random.randint(1,50,10)

In [ ]:
n3

In [ ]:
np.mean(n1)

In [ ]:
np.median(n1)

In [ ]:
np.std(n1)

In [ ]:
#saving and loading numpy array

In [ ]:
np.save('myarray',n3)

In [ ]:
new_obj=np.load('myarray.npy')

In [ ]:
new_obj

In [ ]:
import pandas as pd

In [ ]:
dict1 = {
    "name" : ['pratibha','rohan','anwesha'],
    "roll" : [40,23,38],
    "college" : ['nit','bit','du']
}

In [ ]:
df=pd.DataFrame(dict1)

In [ ]:
df

In [ ]:
df.to_csv('friends.csv')

In [ ]:
df.head(2)

In [ ]:
df.tail(2)

In [ ]:
df.describe()

In [ ]:
df.to_csv('new.csv')

In [ ]:
new = pd.read_csv('new.csv')

In [ ]:
new

In [ ]:
new['name'][2] = 'ajith'

In [ ]:
new

In [ ]:
new

In [ ]:
new.index = ['AM','PM','Tonight']

In [ ]:
new

In [ ]:
me = new.iloc[0:8,2:3] 

me

le = new.iloc[0:8,0]
le

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
print("Setup Complete")

In [ ]:
sns.distplot(me)

plt.show

In [ ]:
plt.plot([1,2,3],[3,25,10])
plt.xlabel('amount')
plt.ylabel('experience')
plt.title('salary of employees')
plt.show()

In [ ]:
#adding style to the graph

In [ ]:
from matplotlib import style

In [ ]:
style.use('ggplot')

In [ ]:
plt.plot(me,'g',label='line one',linewidth=5)

In [ ]:
plt.plot(le,'c',label='line one',linewidth=5)
plt.legend()
plt.grid(True,color='k')

In [ ]:
plt.plot(me,'g',label='line one',linewidth=5)
plt.plot(le,'c',label='line one',linewidth=5)
plt.legend()
plt.grid(True,color='k')

In [ ]:
plt.bar([1,2,3,4],[2,4,6,10],label='line one',linewidth=5,color='g')
plt.bar([10,15,17],[24,29,35],label='line one',linewidth=5,color='c')
plt.legend()
plt.grid(True,color='k')

In [ ]:
import pandas as pd

In [ ]:
nifty = pd.read_csv('NIFTY50stocks.csv')

In [5]:
nifty

NameError: name 'nifty' is not defined

In [ ]:
nifty.head()

In [ ]:
nifty.mean()

In [ ]:
plt.plot(nifty.mean(),'g',label='line one',linewidth=5)
plt.legend()
plt.grid(True,color='k')

In [ ]:
nifty.mean().hist(figsize=(20,30))

In [ ]:
nifty.hist(figsize=(20,30))

In [ ]:
sns.boxplot(data=nifty)

In [ ]:
sns.boxplot(data=nifty.mean())

In [ ]:
sns.pairplot(data=nifty)

In [ ]:
sns.pairplot(data=nifty.mean())

In [ ]:
#finding relationship between variables using corr() function and plotting heatmap

In [ ]:
plt.figure(figsize=(20,10))
c = me.corr()
sns.heatmap(c,cmap="BrBG",annot=True)
c

# HELLO